{% extends 'cartLocal.html' %}

{% block style2 %}
<style>
.image {
    left: 0;
    top: 0;
    height: 149px;
    width:149px;
}

.img {
    height: 100%;
}

.title {
    top: 10px;
    left: 160px;
    position: absolute;
    font-size: 4vh;
    font-family: "Open Sans", sans-serif;
}

.desc {
    top: 55px;
    left: 160px;
    width: 40%;
    position: absolute;
    font-size: 2vh;
    color: darkgray;
    font-family: "Open Sans", sans-serif;
}

.price {
    top:16px;
    right: 15px;
    position: absolute;
    font-size: 3vh;
    font-family: "Open Sans", sans-serif;}
#qt {
    font-size: 2.5vh;
    right: 0;
    top: 35px;
    position: absolute;
}
.qty {
    right: 315px;
    top:16px;
    position: absolute;
    font-size: 3vh;
    font-family: "Open Sans", sans-serif;
}
.remove {
    bottom: 8px;
    right: 10px;
    position: absolute;
}
.rmv {
    color: red;
    font-size: 2vh;
    font-family: "Open Sans", sans-serif;
    border: none;
    background-color: rgba(245,245,245,0);
    cursor: pointer;
}
#heading {
    font-size: 4vh;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    color: rgb(30,30,30);
}

</style>
{% endblock %}

{% block content %}

<div class="item" id="heading" style="height: 33px;">
    <b style="left: 250px;position: absolute;font-weight: 400;">Product</b>
    <b style="right:30px;position: absolute;font-weight: 400;">Price</b>
    <b style="right:270px;position: absolute;font-weight: 400;">Quantity</b>

</div>

{% for i in range(length-1) %}

<div class="item" id="a{{i}}">
    <div class="image">
        <img src="{{image_list[i]}}" class="img">
    </div>
    <div class="title">
        {{title_list[i]}}
    </div>
    <div class="desc">
        {{desc_list[i]}}
    </div>
    <div class="price">
        &#x20B9; {{price_list[i]}}<br>
    </div>
    <div class="qty">
        1
    </div>
    <div class="remove">
        <button class="rmv" onclick="remove(getIndex({{i}}))">Remove</button>
    </div>
     
</div>

{% endfor %}

{% endblock %}


{% block morescript %}

<script>
    function getIndex(id) {
        var child = document.getElementById('a'+id);
        var parent = child.parentNode;
        var childNodes = parent.children;
        var count = childNodes.length;
        var child_index;
        for (var i = 0; i < count; ++i) {
        if (child === childNodes[i]) {
            child_index = i;
            break;
        }
        }
        return child_index;
    }

    function remove(index) {
        index = index -1;
        var cartval = getCookie('cart');
        var items = cartval.split(',');
        console.log(items, index);
        items.splice(index,1);
        console.log(items);
        document.cookie = "cart=" + items.join();

        var pval = getCookie('pid');
        var pitems = pval.split(',');
        console.log(pitems, index);
        pitems.splice(index,1);
        console.log(pitems);
        document.cookie = "pid=" + pitems.join();

        parentNode = document.getElementById("spacing");
        parentNode.removeChild(parentNode.children[index]);
    }

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            console.log(c.substring(name.length, c.length))
            return c.substring(name.length, c.length);
            }
        }
        return "L";
    }
</script>

{% endblock %}