<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <style>

            #canvasOutput {
                display: none;
            }
            #price {
                font-weight: 500;
                font-size: 110%;
            }
            #PName {
                font-family: "Open Sans", sans-serif;
                position: relative;
                left: 3%;
                top: 6px;
                font-size: 105%;
                font-weight: 500;
            }
            
        </style>
        
    </head>
    <body>
        <div id="cartdisp">
            <button id="cart" ><i class="fa fa-shopping-bag"></i></button>
            <span id="cartcount">0</span>
        </div>

        <div class="container">
            <a href="https://aequm99.myshopify.com/" ><button class="button" id="backstore">&#9664; Store</button></a>
            <a href="http://20.193.229.188/" ><button class="button" id="rescan">Re-Scan</button></a>
            <div class="left-panel">
                <div class="specs-pane">
                    
                    <a href="http://20.193.229.188/start?Glasses=6687549292732"><button class="button specs" id="button6"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687549685948"><button class="button specs" id="button7"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687550275772"><button class="button specs" id="button8"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687550472380"><button class="button specs" id="button9"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687550603452"><button class="button specs" id="button10"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687550832828"><button class="button specs" id="button11"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687614566588"><button class="button specs" id="button12"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687620038844"><button class="button specs" id="button13"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687620104380"><button class="button specs" id="button14"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687620169916"><button class="button specs" id="button15"></button></a>
                                
                </div>
            </div>
            <div class="centre">
               <!-- <canvas id="canvasOutput"></canvas>
                <video autoplay="true" id="videoElement"></video>-->
                
                <img id="image">
                
                
                

            </div>
            <div class="right-panel">

                <div id="display" >
                    <span id="PName">{{title}}</span>
                    <div id="pinfo"><br>{{desc}}<br><span id="price">{{price}}</span></div>
                </div>
            </div>
            <div class="bottom">
                <!--<p id="PName">{{title}}</p>
                <p id="Brand">{{brand}}</p>
                <div id="Quant">
                    Qty: <input type="number" id="qty" min="1" value="1">
                </div>
                <button class="button" id="button2">CHECKOUT</button>-->
                <button class="button" id="Save">Save to Basket</button>
                <!--<a href="http://20.193.229.188/"><button class="button" id="button1" >Retake Picture</button></a>
                <a href="https://aequm99.myshopify.com/"><button class="button" id="back" >Back To Store</button></a>-->
            </div>
        </div>
        
        
        <script>

            
            var cartbtn = document.getElementById('cart');
            cartbtn.onclick = function() {
                pid_list = getCookie('pid');
                window.location.href=("http://20.193.229.188/cart?prods="+ pid_list);

            }

            var socket = io('http://20.193.229.188');
            
            window.onload = function() {
                var cartval = getCookie('cart');
                if (cartval != ''){
                    //document.getElementById("button2").disabled = true;
                    var split = cartval.split(',');
                    document.getElementById("cartcount").innerText = (split.length)-1;
                }


                function getCookie(cname) {
                
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                    }
                }
                return "L";
            }
            console.log(getCookie("uid"));
                
            
                socket.on('connect', function(){
                console.log("refreshed");
                console.log("Connected...!", socket.connected);
            });
            let searchParams = new URLSearchParams(window.location.search);
                if (searchParams.has('Glasses')){
                    var glass = searchParams.get('Glasses')
                    console.log("case1");
                }
                else{
                    var glass = "None";
                    console.log("case2");
                }
                var uid = getCookie("uid");
                var arr = ["None",glass,uid];
                socket.emit('image', arr);
                console.log("Emitted");
            }

            
            
            
            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                    console.log(c.substring(name.length, c.length))
                    return c.substring(name.length, c.length);
                    }
                }
                return "L";
            }
            function updateCart() {
                var products = getCookie('pid');
                var prod_split = products.split(',');
                var list = document.getElementById("cartlist");
                list.innerHTML='';
                for(var i = 0; i < prod_split.length; i ++){
                    var indi = prod_split[i];
                    if(indi!=''){ 
                        var node = document.createElement("LI");
                        console.log(node);
                        var textnode = document.createTextNode(String(indi)); 
                        console.log(textnode)        
                        node.appendChild(textnode);  
                        console.log("Textnode appended");                            
                        list.appendChild(node);
                        console.log("Node appended");                        
                        console.log(indi);

                        const username = '5997eeb2ea13036b59f25dd280f73025';
                        const password = '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';
                        let headers = new Headers();
                        headers.set('Authorization', 'Basic ' + window.btoa(username + ":" + password));
                        var url = "https://aequm99.myshopify.com/admin/api/2021-04/products/" + String(indi) + ".json?fields=title";
                        fetch(url, {method:'GET',
                            headers: headers
                        
                        })
                    .then(response => {
                    if (!response.ok) throw new Error(response.status);
                    console.log(response.json());
                    });
                    
                    }
                }
            }
            const saveCart = document.getElementById("Save");
            saveCart.onclick = function() {
                
                var prev = getCookie('cart');
                document.cookie = "cart=" + prev + String({{vid}}) + ":" + "1" + ",";
                var pid_prev = getCookie('pid');
                document.cookie = "pid=" + pid_prev + String({{pid}}) + ",";
                var count = document.getElementById("cartcount").innerText;
                count++;
                document.getElementById("cartcount").innerText = count;
                var pname = document.getElementById("PName").innerText;
                alert(pname + " has been added to your basket");
            }
            

            
            
            socket.on('response_back', function(image){
                const image_id = document.getElementById('image');
                image_id.src = image;
                //video.pause();
                //video.style.display = "none";
                console.log("response")
            });
            
              //};
            //}
            </script>
            <!--<script async src="/static/script/opencv.js" onload="openCVReady()"  type="text/javascript"></script>-->


    </body>
</html>