<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='css/myscript.js') }}"></script>
        
    </head>
    <body>

        <div class="container">
            <div class="left-panel">
                <div class="specs-pane">
                    
                    <a href="http://20.193.238.244:5000/start?Glasses=6687549292732"><button class="button specs" id="button6"></button></a>
                    <a href="http://20.193.238.244:5000/start?Glasses=6687549685948"><button class="button specs" id="button7"></button></a>
                    <a href="http://20.193.238.244:5000/start?Glasses=6687550275772"><button class="button specs" id="button8"></button></a>
                    <a href="http://20.193.238.244:5000/start?Glasses=6687550472380"><button class="button specs" id="button9"></button></a>
                    <a href="http://20.193.238.244:5000/start?Glasses=6687550603452"><button class="button specs" id="button10"></button></a>
                    <a href="http://20.193.238.244:5000/start?Glasses=6687550832828"><button class="button specs" id="button11"></button></a>
                    <a href="http://20.193.238.244:5000/start?Glasses=6687614566588"><button class="button specs" id="button12"></button></a>
                    <a href="http://20.193.238.244:5000/start?Glasses=6687620038844"><button class="button specs" id="button13"></button></a>
                    <a href="http://20.193.238.244:5000/start?Glasses=6687620104380"><button class="button specs" id="button14"></button></a>
                    <a href="http://20.193.238.244:5000/start?Glasses=6687620169916"><button class="button specs" id="button15"></button></a>
                                
                </div>
            </div>
            <div class="centre">
                <img src={{ url }} id="videoElement">
                
                

            </div>
            <div class="right-panel">
                <button class="button" id="button3" onclick="Previous()">&#x2191;</button>

                <button class="button" id="button4" onclick="Next()">&#x2193;</button></a>
                <div id="display" >
                    <div id="pinfo"><br>{{desc}}<br>{{price}}</div>
                </div>
            </div>
            <div class="bottom">
                <p id="PName">{{title}}</p>
                <p id="Brand">{{brand}}</p>
                
                <a href={{ cart }}><button class="button" id="button2">ADD TO CART</button></a>
            </div>
        </div>
        
        
    
    </body>
</html>