<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <style>

            #canvasOutput {
                display: none;
            }
            #videoElement {
            display: none;
        }
        </style>
        
    </head>
    <body>

        <div class="container">
            <div class="left-panel">
                <div class="specs-pane">
                    
                    <a href="http://20.193.229.188/start?Glasses=6687549292732"><button class="button specs" id="button6"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687549685948"><button class="button specs" id="button7"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687550275772"><button class="button specs" id="button8"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687550472380"><button class="button specs" id="button9"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687550603452"><button class="button specs" id="button10"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687550832828"><button class="button specs" id="button11"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687614566588"><button class="button specs" id="button12"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687620038844"><button class="button specs" id="button13"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687620104380"><button class="button specs" id="button14"></button></a>
                    <a href="http://20.193.229.188/start?Glasses=6687620169916"><button class="button specs" id="button15"></button></a>
                                
                </div>
            </div>
            <div class="centre">
                <canvas id="canvasOutput"></canvas>
                <video autoplay="true" id="videoElement"></video>
                <div class = 'video'>
                    <img id="image" src="/static/img/Face.jpg">
                </div>
                
                

            </div>
            <div class="right-panel">
                <button class="button" id="button3" onclick="Previous()">&#x2191;</button>

                <button class="button" id="button4" onclick="Next()">&#x2193;</button></a>
                <div id="display" >
                    <div id="pinfo"><br>{{desc}}<br>{{price}}</div>
                </div>
            </div>
            <div class="bottom">
                <p id="PName">{{title}}</p>
                <p id="Brand">{{brand}}</p>
                
                <a href={{ cart }}><button class="button" id="button2">ADD TO CART</button></a>
            </div>
        </div>
        
        
        <script>
            window.onload = function() {
            var socket = io('http://20.193.229.188');
            
            socket.on('connect', function(){
                console.log("Connected...!", socket.connected)
                
                var c = document.getElementById("canvasOutput");
                var ctx = c.getContext("2d");
                var img = document.getElementById("image");
                console.log("c1");
                ctx.drawImage(img, 10, 10);
                var type = "image/png"
                var data = document.getElementById("canvasOutput").toDataURL(type);
                data = data.replace('data:' + type + ';base64,', ''); 
                console.log("c2");
                var glass = urlParams.get('Glasses');
                console.log("c3");
                var arr = [data,glass];

                socket.emit('image', arr);
                console.log("Emitted the image");
                
            
            });

            

            console.log("outside");
            socket.on('response_back', function(image){
                console.log("inside");
                const image_id = document.getElementById('image');
                image_id.src = image;
                console.log("response")
            });
            }

            /*//var cv = require('opencv.js');
            function onOpenCvReady() {
              console.log("ready cv");
              cv['onRuntimeInitialized']=()=>{
            var socket = io('http://20.193.229.188');
            
            socket.on('connect', function(){
                console.log("Connected...!", socket.connected)
            });
            
            const video = document.querySelector("#videoElement");
            
            video.width = 500;
            video.height = 375;
            
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function (err0r) {
                    console.log(err0r)
                    console.log("Something went wrong!");
                });
            }
            console.log(cv);
            let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
            console.log(typeof(src))
            let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
            let cap = new cv.VideoCapture(video);
            console.log(src);
            const FPS = 30;
            const urlParams = new URLSearchParams(window.location.search);

            
            function processVideo() {
                let begin = Date.now();
                cap.read(src);
                cv.cvtColor(src, dst, cv.COLOR_RGBA2BGRA);
                cv.cvtColor(dst, dst, cv.COLOR_BGRA2RGBA);
                cv.imshow("canvasOutput", dst);
                var type = "image/png"
                var data = document.getElementById("canvasOutput").toDataURL(type);
                data = data.replace('data:' + type + ';base64,', ''); 
                var glass = urlParams.get('Glasses');

                var arr = [data,glass];

                socket.emit('image', arr);
                // schedule next one.
                let delay = 10000/FPS - (Date.now() - begin);
                setTimeout(processVideo, delay);
            }
            
            setTimeout(processVideo, 0);
            
            socket.on('response_back', function(image){
                const image_id = document.getElementById('image');
                image_id.src = image;
                console.log("response")
            });
            
              };
            }*/
            </script>
            <!--<script async src="/static/script/opencv.js" onload="onOpenCvReady();" type="text/javascript"></script>-->


    </body>
</html>